<!DOCTYPE html>
<html>
  <head>
    <title>DJ RedIsRecord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
    <%= yield %>
    </main>
    <footer>
    <hr>
    <p>
      <%= link_to image_tag("redisrecord_logo_tiny.png", style: 'height:50%;width:auto;', alt: "small RedIsRecord Logo") + "Home",@home %> &nbsp;&nbsp; &nbsp;&nbsp; <%= link_to "About DJ RedIsRecord", @about %>  &nbsp;&nbsp; &nbsp;&nbsp;
    <a href ="merch" > Get Merch</a> &nbsp;&nbsp; &nbsp;&nbsp;<a href ="show" > See DJ RedIsRecord Perform! </a> &nbsp;&nbsp; &nbsp;&nbsp;
    <a href ="contact" > Contact the team </a> </p>
<p>&copy; 2023 <a href = "http://backbeat.agency">Backbeat Agency</a> </p>
    </footer>
  </body>
</html>
