<!DOCTYPE html>
<html>
  <head>
    <title>DJ GreyBeard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <footer>
    <hr>
    <p><a href ="static/home" > Home </a> | <a href ="static/about" > About DJ GreyBeard </a> |
    <a href ="merch" > Get Merch</a> | <a href ="show" > See DJ GreyBeard Perform! </a> |
    <a href ="contact" > Contact the team </a> </p>
<p>&copy; 2023 <a href = "http://backbeat.agency">Backbeat Agency</a> </p>
    </footer>
  </body>
</html>
